/* Tabs Sorter by Gabriela Aguilar 2023 - Style Sheet */

body
{
    background:blue url('/images/background.png');
    min-width: 500px;
    max-width: 100%;
    position: relative;
    vertical-align:middle;
}

h1
{
    position: relative;
    font-family: 'Franklin Gothic', sans-serif;
    color: royalblue;
    font-size: 25px;
    margin-bottom: 15px;
}

p
{
    font-family: 'Didot LT STD';
    color: #3b147b;
    font-size: 15px;
}

ul
{
    font-family: 'Didot LT STD';
    color: #3b147b;
    font-size: 15px;
}

a
{
    text-decoration: none;
    color: #02093B;
}

a:hover
{
    text-decoration: underline;
}
